@css {
	/* 
	animaciones :D
	*/
}

@keyframes balloon
	0%
		transform rotate(25deg)
	100%
		transform rotate(0deg)

@keyframes updown
	0%
		transform translate(0, 14px) 
	100%
		transform translate(0, -10px) 

@keyframes cloud
	0%
		transform translate(0, 10px) scale(1) rotate(2deg)
	100%
		transform translate(0, -10px) scale(0.9) rotate(-4deg)

@keyframes bubble
	0%
		transform translate(0, -2px) scale(1) rotate(2deg)
	100%
		transform translate(0, 2px) scale(0.9) rotate(-4deg)